In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv("./preprocess.csv")
df.describe()

,Unnamed: 0,ID_STUDENT,ID_PROJECT,CODIGO_INSTITUCIONAL_FOD,IF_VALUE,ELSEIF_VALUE,ELSE_VALUE,WHILE_VALUE,FOR_VALUE,DO_WHILE,...,ARITHMETIC,LOGICAL,COMPARISON,AVG_CYCLO,CONTROL_FLOW,AVG_METHODS_BY_CLASS,CT_SCORE,YEAR_CREATION,MONTH_CREATION,DAY_CREATION
count,4255.000000,4255.000000,4255.000000,4255.000000,4255.000000,4255.0,4255.0,4255.000000,4255.000000,4255.0,...,4255.000000,4255.000000,4255.000000,4255.000000,4255.000000,4255.000000,4255.000000,4255.000000,4255.000000,4255.000000
mean,2223.454524,309447.043008,5861.254054,1129.460635,7.002820,0.0,0.0,4.363572,2.204935,0.0,...,0.496357,0.929260,4.834078,2.151866,2.389189,2.762991,7.466040,2018.978378,8.437368,16.893067
std,1280.965008,107058.833904,3151.212290,958.960721,7.083788,0.0,0.0,5.000530,2.440803,0.0,...,1.501581,3.523769,8.259355,1.027441,0.576434,1.863430,2.284267,0.281881,2.201693,8.440788
min,0.000000,25006.000000,6.000000,11.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2018.000000,4.000000,1.000000
25%,1122.000000,278499.500000,2871.000000,329.000000,2.000000,0.0,0.0,1.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,1.666667,2.000000,2.000000,6.000000,2019.000000,6.000000,10.000000
50%,2242.000000,313715.000000,6399.000000,883.000000,6.000000,0.0,0.0,4.000000,2.000000,0.0,...,0.000000,0.000000,2.000000,2.000000,2.000000,2.600000,8.000000,2019.000000,8.000000,17.000000
75%,3333.500000,396108.500000,8532.500000,1550.000000,10.000000,0.0,0.0,6.000000,3.000000,0.0,...,0.000000,0.000000,4.000000,2.250000,3.000000,3.250000,9.000000,2019.000000,11.000000,25.000000
max,4446.000000,565217.000000,10551.000000,4719.000000,85.000000,0.0,0.0,103.000000,49.000000,0.0,...,21.000000,80.000000,159.000000,29.333333,3.000000,35.000000,12.000000,2021.000000,12.000000,31.000000

In [2]:
SELECT_SAMPLE = False

if SELECT_SAMPLE:
    df = df.sample(50)
    df.to_csv("./preprocess-50.csv")

df = pd.read_csv("./preprocess-50.csv")
df.describe()

,F,Unnamed: 0,ID_STUDENT,ID_PROJECT,CODIGO_INSTITUCIONAL_FOD,IF_VALUE,ELSEIF_VALUE,ELSE_VALUE,WHILE_VALUE,FOR_VALUE,...,ARITHMETIC,LOGICAL,COMPARISON,AVG_CYCLO,CONTROL_FLOW,AVG_METHODS_BY_CLASS,CT_SCORE,YEAR_CREATION,MONTH_CREATION,DAY_CREATION
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.0,50.0,50.000000,50.000000,...,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,2039.06000,2132.520000,286767.820000,5624.260000,899.440000,7.720000,0.0,0.0,4.520000,2.420000,...,0.300000,0.920000,5.620000,2.346908,2.440000,2.337561,7.460000,2019.000000,8.880000,16.560000
std,1196.99785,1249.046726,116561.761554,3122.320963,822.433427,8.166732,0.0,0.0,4.041822,3.464632,...,1.073807,3.206117,9.585044,1.094206,0.540597,0.979384,2.168513,0.202031,2.191263,9.209933
min,37.00000,37.000000,38965.000000,104.000000,39.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,2018.000000,5.000000,3.000000
25%,1085.75000,1144.750000,272510.250000,2899.750000,172.750000,2.250000,0.0,0.0,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.895833,2.000000,1.375000,6.000000,2019.000000,6.000000,6.500000
50%,2163.00000,2263.500000,308390.000000,6427.000000,836.500000,7.000000,0.0,0.0,5.000000,2.000000,...,0.000000,0.000000,3.000000,2.000000,2.000000,2.400000,8.000000,2019.000000,9.500000,17.000000
75%,3039.25000,3182.250000,348160.750000,8291.250000,1311.750000,9.000000,0.0,0.0,7.000000,3.000000,...,0.000000,0.000000,4.000000,2.301282,3.000000,3.000000,9.000000,2019.000000,11.000000,25.750000
max,4180.00000,4372.000000,466824.000000,10477.000000,4249.000000,36.000000,0.0,0.0,16.000000,22.000000,...,5.000000,16.000000,41.000000,6.000000,3.000000,5.000000,10.000000,2020.000000,12.000000,30.000000

In [3]:
df.columns

Index(['F ', 'Unnamed: 0', 'ID_STUDENT', 'STUDENT_NAME', 'GENDER',
       'GRADE_NAME', 'ID_PROJECT', 'PROJECT_NAME', 'CREATION_DATE',
       'EDUCATIONAL_CENTRE_NAME', 'CODIGO_INSTITUCIONAL_FOD',
       'DIRECCION_REGIONAL', 'REGION_NAME', 'PROVINCIA', 'CANTON', 'DISTRITO',
       'PRIM_O_SEC', 'IF_VALUE', 'ELSEIF_VALUE', 'ELSE_VALUE', 'WHILE_VALUE',
       'FOR_VALUE', 'DO_WHILE', 'ABSTRACTION', 'PARALLELISM',
       'DATA_REPRESENTATION', 'DEADCODE', 'MISNAMING', 'CYCLOMATIC',
       'NUMBER_OF_METHODS', 'NUMBER_OF_CLASSES', 'ARITHMETIC', 'LOGICAL',
       'COMPARISON', 'AVG_CYCLO', 'CONTROL_FLOW', 'AVG_METHODS_BY_CLASS',
       'CT_SCORE', 'DATE', 'YEAR_CREATION', 'MONTH_CREATION', 'DAY_CREATION'],
      dtype='object')

In [4]:
df.shape

(50, 42)

Cantidad de datos, cantidad de datos por nivel, cantidad de instituciones, cantidad por aÃ±os, cantidad por genero.

In [5]:
print("* Cantidad de proyectos totales {total}".format(total=df.shape[0]))
print("* Cantidad de proyectos por nivel: \n{total}".format(total=df.groupby("GRADE_NAME").size()))
print("* Cantidad de proyectos por instituciÃ³n: {total}".format(total=df.groupby("EDUCATIONAL_CENTRE_NAME").size().count()))
print("* Cantidad de proyectos por aÃ±o: {total}".format(total=df.groupby("YEAR_CREATION").size()))
print("* Cantidad de proyectos por gÃ©nero: {total}".format(total=df.groupby("GENDER").size()))
print("* Cantidad de proyectos por canton: {total}".format(total=df.groupby("CANTON").size().count()))
print("* Cantidad de proyectos por distrito: {total}".format(total=df.groupby("DISTRITO").size().count()))

* Cantidad de proyectos totales 50
* Cantidad de proyectos por nivel:
GRADE_NAME
Cuarto Grado    32
Quinto Grado     9
Sexto Grado      4
SÃ©timo           1
Tercer Grado     4
dtype: int64
* Cantidad de proyectos por instituciÃ³n: 39
* Cantidad de proyectos por aÃ±o: YEAR_CREATION
2018     1
2019    48
2020     1
dtype: int64
* Cantidad de proyectos por gÃ©nero: GENDER
Hombre    20
Mujer     30
dtype: int64
* Cantidad de proyectos por canton: 24
* Cantidad de proyectos por distrito: 32

In [18]:
data_grouped = df.groupby(['PROJECT_NAME', 'REGION_NAME', 'MISNAMING'])['DEADCODE'].sum()

In [19]:
data_grouped

PROJECT_NAME                                                                            REGION_NAME  MISNAMING
Juego y aprendo creando mi primer juego programado en Scratch                           Urbano       0             0
                                                                                                     1             0
Nuevas oportunidades de la computaciÃ³n fÃ­sica                                           Rural        0            14
                                                                                        Urbano       0            56
                                                                                                     1            11
Web de Juegos: Aventuras con Escenas                                                    Urbano       0             0
Â¿CÃ³mo impacta en mi comunidad-familia-paÃ­s-en mÃ­ mismo, un problema?                    Rural        9             0
                                                                                        Urbano       1             0
                                                                                                     4             2
Â¿CÃ³mo podemos usar la matemÃ¡tica en la construcciÃ³n de juegos que utilicen una ruleta?  Rural        1             0
                                                                                        Urbano       3             2
                                                                                                     4             1
                                                                                                     5             2
                                                                                                     7             1
                                                                                                     18            0
Â¿CÃ³mo un fenÃ³meno natural se puede convertir en desastre?                               Rural        0             0
                                                                                                     4             1
                                                                                                     7             0
                                                                                                     8             0
                                                                                        Urbano       0             0
                                                                                                     1             0
                                                                                                     2             1
                                                                                                     7             2
                                                                                                     9             1
Name: DEADCODE, dtype: int64

In [35]:
data_grouped = df.groupby(['PROJECT_NAME'])['DEADCODE'].sum()

In [36]:
data_grouped

PROJECT_NAME
Juego y aprendo creando mi primer juego programado en Scratch                              0
Nuevas oportunidades de la computaciÃ³n fÃ­sica                                             81
Web de Juegos: Aventuras con Escenas                                                       0
Â¿CÃ³mo impacta en mi comunidad-familia-paÃ­s-en mÃ­ mismo, un problema?                       2
Â¿CÃ³mo podemos usar la matemÃ¡tica en la construcciÃ³n de juegos que utilicen una ruleta?     6
Â¿CÃ³mo un fenÃ³meno natural se puede convertir en desastre?                                  5
Name: DEADCODE, dtype: int64

In [37]:
data_grouped = df.groupby(['PROJECT_NAME', 'REGION_NAME'])['DEADCODE'].sum()

In [38]:
data_grouped

PROJECT_NAME                                                                            REGION_NAME
Juego y aprendo creando mi primer juego programado en Scratch                           Urbano          0
Nuevas oportunidades de la computaciÃ³n fÃ­sica                                           Rural          14
                                                                                        Urbano         67
Web de Juegos: Aventuras con Escenas                                                    Urbano          0
Â¿CÃ³mo impacta en mi comunidad-familia-paÃ­s-en mÃ­ mismo, un problema?                    Rural           0
                                                                                        Urbano          2
Â¿CÃ³mo podemos usar la matemÃ¡tica en la construcciÃ³n de juegos que utilicen una ruleta?  Rural           0
                                                                                        Urbano          6
Â¿CÃ³mo un fenÃ³meno natural se puede convertir en desastre?                               Rural           1
                                                                                        Urbano          4
Name: DEADCODE, dtype: int64